<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    html오마카세!!

    <table border="1">
        <tr>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>닉네임</th>
        </tr>
        
        {% for item in list%}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.pw}}</td>
            <td>{{item.nick}}</td>
            <td><button onclick="selectOne('{{item.id}}')">이 회원정보만 조회</button></td>
            <td><button onclick="update('{{item.id}}','{{item.pw}}','{{item.nick}}')">이 회원정보 수정</button></td>
            <td><button onclick="location.href='delete/{{item.id}}'">이 회원 삭제</button></td>
            
            <td><button onclick="exDELETE('{{item.id}}')">이 회원 아이디 정보 삭제</button></td>
        </tr>
        {% endfor %}
    </table>


    <h3>특정 회원 정보 조회</h3>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>닉네임</th>
        </tr>
        <tr>
            <td id="searchId"></td>
            <td id="searchPw"></td>
            <td id="searchNick"></td>
        </tr>
    </table>

    <h3>회원 추가</h3>
    <form action="insert" method="post">
        <input type="text" name ="id"><br>
        <input type="password" name ="pw"><br>
        <input type="text" name ="nick"><br>
        <input type="submit">
    </form>


    <h3>회원 정보 수정</h3>
    <form action="update" method="post">
        <input type="text" name ="id" id="updateId" readonly><br>
        <input type="password" name ="pw" id="updatePw"><br>
        <input type="text" name ="nick" id="updateNick"><br>
        <input type="submit">
    </form>

    <h3>회원 정보 삭제</h3>
    <form action="EXdelete" method="post">
        <input type="text" name ="id" id="deleteId" readonly><br>
        <input type="submit">
    </form>


    <script>
        async function selectOne (id){
    
                const reqURL ='select/'+id// 요청 URL
                //성공적으로 url 을 받으면 then 실행
                //fetch api -> res : promises 형태 -> res.json : json 형태
                await fetch(reqURL).then((res) => res.json()).then((res2)=>{//res2 : 요청해서 받은 데이터를 json 형태로 쓰려면 넘겨 받아야하는데 res를 res2로 넘겨받음
                    document.getElementById('searchId').innerText = res2.member[0].id
                    document.getElementById('searchPw').innerText = res2.member[0].pw
                    document.getElementById('searchNick').innerText = res2.member[0].nick
                }) 
            }
            function update(id,pw,nick){
                document.getElementById('updateId').value = id
                document.getElementById('updatePw').value = pw
                document.getElementById('updateNick').value = nick
            }

            function exDELETE(id){
                document.getElementById('deleteId').value = id
            }
        </script>
   
</body>
</html>