<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <fieldset>
        <legend>채팅 내용</legend>
        <!-- class -> mine : 내 채팅(오른쪽), other : 다른 사람 채팅(왼쪽) => CSS -->
        <div id="chat-list">
            {% for chat in chats %}
                {% if chat.userid === userid %}
                    <div class="mine">
                        <div>{{chat.userid}}</div>
                        <div>{{chat.chat}}</div>
                    </div>
                {% else %}                    
                    <div class="other">
                        <div>{{chat.userid}}</div>
                        <div>{{chat.chat}}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </fieldset>
    <form id="chat-form">
        <input type="text" id="chat-input" name="chatinput">
        <input type="submit" value="전송">      
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io.connect('http://localhost:8888/chat', { // /chat : chat 네임스페이스
            path : '/socket.io'
        })

        socket.on('chat', function(data) {
            console.log(data);
            const div = document.createElement('div')
            if (data.userid === '{{userid}}') { // 로그인한 클라이언트가 입력한 채팅이라면
                div.classList.add('mine')
            } else { // 다른 클라이언트가 입력한 채팅이라면
                div.classList.add('other')
            }
            // 아이디 출력 div
            const divID = document.createElement('div')
            divID.textContent = data.userid
            div.appendChild(divID)

            // 채팅 출력 div
            const divChat = document.createElement('div')
            divChat.textContent = data.chat
            div.appendChild(divChat)

            // #chat-list에 div 추가
            document.getElementById('chat-list').appendChild(div)
        })
                                                            // e : event(submit 이벤트)
        document.getElementById('chat-form').addEventListener('submit', function(e) {
            e.preventDefault() // 서버로 바로 요청하는 기본 기능 수행X
            // console.log(e.target.chatinput.value);
            if (e.target.chatinput.value) {
                // 서버로 채팅내용 전송
                axios.post('/chat/{{roomid}}/insert', {
                    chat : e.target.chatinput.value
                })
                .then((data) => {console.log(data)})
                .catch((err) => {console.log(err)})
            }
        })
    </script>
</body>
</html>