<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1px">
      <tr>
        <th>방제목</th>
        <th>입장</th>
      </tr>
      <!-- DB 채팅방 개수만큼 -->
      {% for room in rooms%}
      <tr>
        <td>{{room.title}}</td>
        <td><button onclick="location.href ='/chat/{{room.roomid}}'">입장</button></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>